@import 'assets/styles/mixins.scss';

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  width: rem(500);
  height: rem(750);
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-position: center;
  background-size: cover;
  @media (max-width: $sm-max-width) {
    width: 100%;
    height: rem(270);
  }
  @include transition-fast();
  &:hover {
    transform: scale(1.1);
    z-index: 2;

    .itemControls {
      display: block;
    }
  }
}

.withControls {
  &:before {
    position: absolute;
    top: rem(-15);
    right: rem(-15);
    width: 0;
    height: 0;
    content: '';
    z-index: 3;
    border: rem(15) solid transparent;
    border-bottom-color: $primary;
    transform: rotate(45deg);
  }
}

.itemControls {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: rem(57) rem(20) 0;
  text-align: center;
  background: rgba($black, 0.8);

  @media (max-width: $md-max-width) {
    text-align: left;
    padding-top: rem(20);
  }
}

.header {
  background-size: cover;
}

.socialInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.socialCounts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: $text-darken-more;
}

.actions {
  :global(.ant-btn) {
    margin-top: -1px;
    position: relative;
    z-index: 1;
    border-radius: 0;

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:hover {
      z-index: 2;
    }
  }
}

.contentWrapper {
  margin-top: -180px;
}

.card {
  border: none;
  background: $gray-darken;
  margin-top: rem(-120);
  background-size: cover;
  padding: rem(35) rem(35) rem(25) rem(35);

  @media (max-width: $xl-max-width) {
    margin-top: 0;
  }
}

.wallItem {
  margin-top: rem(20);
  margin-bottom: rem(20);
  padding-bottom: rem(20);
  border-bottom: 1px solid $gray-border;
}

.wallAvatar {
  float: left;
}

.wallContent {
  margin-left: rem(70);
}

.wallInnerContent {
  border: none;
}

.wallComments {
  margin-top: rem(20);
}

.messageImg {
  border-radius: 3px;
  margin: 0 rem(5) rem(10) 0;
  max-width: rem(200);
}

:global(.wallImg) {
  border-radius: 3px;
  max-width: rem(200);
  margin: rem(0) rem(5) rem(10) rem(0);
}

.experience-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.experience-form .ant-form-item {
  display: flex;
}

.experience-form .ant-form-item-control-wrapper {
  flex: 1;
}

